input[type=text]{
    width:150px;
    height:25px;
    border:1px solid #4400ff;
    border-radius:2px;
    font-weight:bold;
    color:red;
}
textarea{
    color:red;
}
label{
    color: #ace73e;
}

input[type=submit]{
    width:80px;
    height:30px;
    color:green;
    padding:5px;
    font-weight: bold;
    border-radius:2px;
}

input[type=reset]{
    width:80px;
    height:30px;
    color:green;
    padding:5px;
    font-weight: bold;
    border-radius:2px;
}
legend{
    color: blue;
    font-weight: bold;
}
