h2{
    margin: 200px;
}

h2:before{
    content: "Bangladesh";
    color:red;
    margin-right:5px;
    font-weight:bold;
    font-family:"Agency FB";
}

h2:after{
    content: "Computer";
    color:blue;
    margin-left:5px;
    font-weight:bold;
}

.mydiv{
    width:200px;
    height:200px;
    background-color:green;
    margin-left:200px;
    color:#2B2A2A;
}

.mydiv:before{
    content:"First";
    color:white;
    font-weight:bold;
}

.mydiv:after{
    content:"Last";
    color:yellow;
    font-size:20px;
    font-weight:bold;

}