@font-face{
    /*font-family:"SolaimanLipi";
    src:url("Font/SolaimanLipi.eot")  format("eot"),
    url("Font/SolaimanLipi.woff") format("woff"),
    url("Font/SolaimanLipi.ttf") format("truetype"),
    url("Font/SolaimanLipi.svg#SolaimanLipi") format("svg");

     */

    font-family:"MyBalanglaFont";
	src:url("Font/SolaimanLipi.eot") format("eot"),
	url("Font/SolaimanLipi.woff") format("woff"),
	url("Font/SolaimanLipi.ttf") format("truetype"),
	url("Font/SolaimanLipi.svg#WendyLPStd-Medium") format("svg");
}
p{
    font-family:MyBalanglaFont;
    font-size:50px;
}