*{
    margin:0;
    padding:0;
}
.main_wrapper{
    width:960px;
    margin: 0 auto;
    background:#cbcbcb;
}

.Headwrap{
    width:99.5%;
    height:50px;
    border:3px solid green;
    text-align: center;
    color: green;
    margin-top:50px;
}

.navwrap{
    width:99.5%;
    height:50px;
    border:3px solid green;
    text-align: center;
    color: green;
    margin-top:5px;
}
.content1{
    width:28%;
    height:300px;
    border: 3px solid yellow;
    margin-top:5px;
    color: green;
    text-align: center;
    display:inline-block;

}

.Maincontent{
    width:40%;
    min-height:300px;
    border: 3px solid yellow;
    margin-top:5px;
    color: green;
    text-align: center;
    display:inline-block;

}

.content2{
    width:29%;
    min-height:300px;
    border: 3px solid yellow;
    margin-top:3px;
    color: green;
    text-align: center;
    display:inline-block;
}

.footer{
    width:99.5%;
    height:50px;
    margin:0 auto ;
    border:3px solid green;
    text-align: center;
    color: green;
    margin-top:5px;
}