*{
    margin:0;
    padding:0;
}
body{
    background-color: #EEE8AE;
}
.main_wrap {
    width: 100%;
}
.wrap{
    width: 960px;
    margin:0 auto;
    display: block;
}
.header_bg{
    background:#3E8114;
    border-bottom: 3px solid red;
}
.header_bg_home{
    background-color:#3E8114;
    border-bottom: 3px solid red;
}

#header{
    background-color: #3e8114;
    padding:10px;
    border-right:2px solid red;
    border-left:2px solid red;
}

#header h2{
    color:white;
    font-family:georgia;
}
#header p{
    color: #32f806;
    font-family:georgia;
}


#navigation{
    background-color:#fff;
    height: 38px;
    border-right: 2px solid red;
    border-left: 2px solid red;
}
.nav_bg{
    background:#fff;
}

.nav_bg_home{
    background:#fff;
    border-bottom: 3px solid red;
}

#navigation ul{
    background-color:#fff;
    list-style-type: none;
    z-index:999;
}

#navigation ul li{
    float: left;
    border-right: 2px solid #6B710E;
}

#navigation ul li:last-child{
    border:none;
}

#navigation ul li a{
    text-decoration: none;
    color:#2B2A2A;
    display:block;
    padding:10px;
    font-family: Arial;
    transition:0.2s all ease;

}

#navigation ul li a:hover{
    color:white;
    background-color:red;
}



#slider img{
    width:960px;
    /*border-bottom:5px solid red;*/
    vertical-align:middle; /* By defult baseline kora thake that's why its take 3px space*/
}

.slider_bg{
    background:#2B2A2A;
}

.slider-wrapper{
    border-right: 2px solid red;
    border-left: 2px solid red;
}

/* Sub manue*/
#navigation ul li{
    position:relative;

}

#navigation ul li ul{
    position:absolute;
    left:-9999px;
}

#navigation ul li:hover ul{
    left:0;

}

#navigation ul li ul li{
    float:none;
    border-right:none;
    border-bottom:2px solid red;
    width:127px;
    text-align:center;
    position:relative;
}

#navigation ul li ul li:first-child{
    border-top:3px solid red;
}

#navigation ul li ul li ul{
    position:absolute;
    top:-9999px;
}
#navigation ul li ul li:hover ul{
   top:-2px;
    left:127px;
}
#navigation ul li ul li ul li{
    border-left:2px solid #2B2A2A;
    text-align:justify;
}
#navigation ul li ul li ul li:last-child {
    border-left:2px solid #2B2A2A;
}
#navigation ul li ul li ul li:first-child {
    border-top:none;
}

#content_wrapper{
    background-color:#fff;
    padding:10px;
    overflow:hidden;
    border-left:2px solid red;
    border-right:2px solid red;
}

.content_bg{
    background-color:#fff5;
}

#content{
    width:620px;
    margin-right:20px;
    float:left;
}

#content h2{
    color: green;
    margin-bottom:5px;
}

#content img {
    width: 450px;
}

#para1 img{
    width:100px;
    height:100px;
    background-color:#2B2A2A;
    border:1px solid #ddd;
    margin-right:10px;
    padding:3px;
    float:left;
}

#single_article{
    margin-bottom: 25px;
    border-bottom: 2px solid #2B2A2A;
    overflow:hidden;
}

#content blockquote{
    background:#ddd;
    margin-left:20px;
    padding:10px;
    padding-left:20px;
}

#content figcaption{
    color: blue;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
#content figure{
    background:#ddd;
    width:450px;
    padding:10px;
    display:block;
}


#content p{
    margin:15px 0;
    font-size:15px;
    text-align:justify;
    margin-right:10px;
}

#sidebar{
    width:290px;
    float: left;
}

#sidebar h2{
    color:green;
    font-family: arial;
    font-size: 20px;
}

#sidebar lu{
    list-style-type: square;
}

#sidebar ul li a{
    text-decoration: none;
    color: #2B2A2A;
    padding:3px;
    display: block;
}

#footer{
    background-color:#635548;
    padding:5px;
    text-align:center;
}

#footer p{
    color:#fff;
}

.aside{
    overflow:hidden;
    margin-bottom:25px;
}

>sidebar ul li{
    margin-bottom: 25px;
    border-bottom:5px solid #2B2A2A;
}

.footer_bg{
    background:#635548;
}



#share{
    list-style-type: none;
    margin:10px;
    position:fixed;
    top:30%;

    border:2px solid red;
    border-radius:5px;
    padding:6px;
    width:40px;
}


#share li img{
    width:40px;
    height:40px;
}

#share li{
    float: none;
}
