.Block1{
    height:300px;
    width:400px;
    background-color:gray;
    color:white;
    text-align:center;
    margin-top:50px;
    margin-left:50px;
    padding:100px;
}
.Block2{
    height:300px;
    width:400px;
    background-color:lightblue;
    color:blue;
    text-align:center;
    margin-left:50px;
    margin-top: 50px;
}