ul#Mymenu4{
    padding:0;
    list-style-type: none;
    margin:0 auto;
    width:960px;
    background:#4E4E4E;
    border-bottom:5px solid orange;
    min-height:38px;
}
#Mymenu4 li {
    float: left;
    border-right: 1px solid #605B5B;
    border-bottom: 1px solid #2B2A2A;
    position: relative;

}
#Mymenu4 li:last-child {
    border-right: none;
}
#Mymenu4 li:first-child {
    border-left: none;
}

#Mymenu4 li a{
    color:#fff;
    text-decoration: none;
    background:#4E4E4E;
    padding:10px 20px;
    display:block;
    transition:1s all ease;
}
#Mymenu4 li a:hover{
    background:orange;
}

#Mymenu4 li ul{
    list-style-type: none;
    padding: 0;

    position: absolute;
    left:-99999px;
    /*transition:1s all ease;*/
}
#Mymenu4 li:hover ul{
    left:0;
}
#Mymenu4 li ul li{
    float: none;
    border-top: 1px solid #605B5B;
    border-bottom: 1px solid #2B2A2A;
    border-left: none;
    border-right:none;
    width:100px;
}