.box1{
    width:150px;
    height:150px;
    background:red;
    left:0;
    top:0;
    z-index:60;
    position:relative;
}
.box2{
    width:150px;
    height:150px;
    background:green;
    left:50px;
    top:-50px;
    z-index: 10;
    position:relative;
}
.box3{
    width:150px;
    height:150px;
    background:blue;
    left:100px;
    top:-100px;
    position:relative;
    z-index:5;
}