#share{
    list-style-type: none;
    margin-top:30px;
    border:2px solid red;
    padding:10px;
    width:50px;
}


#share li img{
    width:50px;
    height:50px;
}

#share li{
    display:inline;
}

