.mybtn{
    width:80px;
    height:45px;
    border-radius:20px 1px 28px 1px;
    font-size:12px;
    padding:5px;
    color:red;
    font-weight: bold;
    transition:all 1s ease;
}
.mybtn:hover{
    color:black;
    background:lightcoral;
    cursor:pointer;
}