p{
    background-image: url(
    "Images/p1.jpg");
    color:greenyellow;
    background-repeat:repeat-x;  /*repeat-x,y, no-repeat*/
    background-size:cover;
}
/*
    background-repeat:repeat-x
    background-repeat:repeat-y
    background-repeat:no-repeat
    background-size:cover
    background-size:200px,150px
*/