.Mydiv{
    height:150px;
    width:250px;
    background-color:red;
    animation-name: rabbani;
    animation-duration:2s;
    animation-iteration-count: 5;
}
@keyframes rabbani{
    from{background-color:green}
    to{background-color: #6cf807;border-radius:20%}
}